.area-li{
    /* might change background color to MUI fuschia or something */
    background-color: #5cffef;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 4px 4px -3px rgb(64, 195, 238);
}

.where-climb{
    margin: 10px auto;
}